In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('/Users/abhitay/Developer/Columbia_projects/CAP/dsi-capstone-spring-2025-TD-anti-money-laundering/Code/Abhitay/IBM/HI-Small_Trans.csv')

In [3]:
df.head()

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:20,10,8000EBD30,10,8000EBD30,3697.34,US Dollar,3697.34,US Dollar,Reinvestment,0
1,2022/09/01 00:20,3208,8000F4580,1,8000F5340,0.01,US Dollar,0.01,US Dollar,Cheque,0
2,2022/09/01 00:00,3209,8000F4670,3209,8000F4670,14675.57,US Dollar,14675.57,US Dollar,Reinvestment,0
3,2022/09/01 00:02,12,8000F5030,12,8000F5030,2806.97,US Dollar,2806.97,US Dollar,Reinvestment,0
4,2022/09/01 00:06,10,8000F5200,10,8000F5200,36682.97,US Dollar,36682.97,US Dollar,Reinvestment,0

In [6]:
import pandas as pd

def pretty_describe(df):
    """
    Returns a more readable summary of the dataset.
    - Rounds values for better readability.
    - Formats large numbers with commas.
    - Converts scientific notation to standard notation.
    """

    summary = df.describe().transpose()

    # ✅ Formatting large numbers with commas
    summary = summary.applymap(lambda x: f"{x:,.2f}" if isinstance(x, (int, float)) else x)

    # ✅ Rename the index column to "Feature"
    summary.index.name = "Feature"

    # ✅ Rename the rows for clarity
    summary = summary.rename(index={
        "count": "Total Records",
        "mean": "Mean",
        "std": "Standard Deviation",
        "min": "Minimum",
        "25%": "25th Percentile",
        "50%": "Median (50th Percentile)",
        "75%": "75th Percentile",
        "max": "Maximum"
    })

    return summary

# ✅ Example Usage
pretty_summary = pretty_describe(df)

# ✅ Display in Jupyter Notebook
from IPython.display import display
display(pretty_summary)  # Works in Jupyter Notebook


# ✅ Print as Table (For Terminal Use)
print(pretty_summary.to_markdown())  # Requires `pip install tabulate`

,count,mean,std,min,25%,50%,75%,max
Feature,,,,,,,,
From Bank,"5,078,345.00","45,730.57","81,765.62",1.00,119.00,"9,679.00","28,628.00","356,303.00"
To Bank,"5,078,345.00","65,744.56","84,092.99",1.00,"4,259.00","21,568.00","122,332.00","356,294.00"
Amount Received,"5,078,345.00","5,988,726.07","1,037,183,108.89",0.00,183.37,"1,411.01","12,346.27","1,046,302,363,293.48"
Amount Paid,"5,078,345.00","4,509,273.37","869,772,830.92",0.00,184.48,"1,414.54","12,297.84","1,046,302,363,293.48"
Is Laundering,"5,078,345.00",0.00,0.03,0.00,0.00,0.00,0.00,1.00

| Feature         | count        | mean         | std              |   min | 25%      | 50%       | 75%        | max                  |
|:----------------|:-------------|:-------------|:-----------------|------:|:---------|:----------|:-----------|:---------------------|
| From Bank       | 5,078,345.00 | 45,730.57    | 81,765.62        |     1 | 119.00   | 9,679.00  | 28,628.00  | 356,303.00           |
| To Bank         | 5,078,345.00 | 65,744.56    | 84,092.99        |     1 | 4,259.00 | 21,568.00 | 122,332.00 | 356,294.00           |
| Amount Received | 5,078,345.00 | 5,988,726.07 | 1,037,183,108.89 |     0 | 183.37   | 1,411.01  | 12,346.27  | 1,046,302,363,293.48 |
| Amount Paid     | 5,078,345.00 | 4,509,273.37 | 869,772,830.92   |     0 | 184.48   | 1,414.54  | 12,297.84  | 1,046,302,363,293.48 |
| Is Laundering   | 5,078,345.00 | 0.00         | 0.03             |     0 | 0.00     | 0.00      | 0.00       | 1.00                 |